.character-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #000; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.character-list li {
  background-color: #333; 
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
  width: 250px; 
  transition: transform 0.2s ease; 
}
.character-list h2 {
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-right: 1%;
  
}
.character-list li img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-color: #333; 
}
.character-list li p {
  background-color: #333; 
}
.character-list li:hover {
  transform: scale(1.1); 
}
.character-list li + li {
  margin-top: 3%;
}
